<mtapp:setting
    id="multilabel_class"
    label="<__trans phrase="Class">"
    >
    <input
        type="text"
        name="multilabel_class"
        id="multilabel_class"
        <mt:if name="multilabel_class" >
            value="<mt:var name="multilabel_class" escape="html">"
        </mt:if>
    />
</mtapp:setting>

